.header-hover {
  background-color: rgba(0,0,0,.025);
}

.reduce-font {
font-size: 0.9rem;
}

h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  outline: none;
}

body > .mainwrapper {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
}

.pincode-input-text {
  /*border-right-width: 0px !important; */
  margin-left: -1px !important;
}

.pincode-input-text:focus {
  position: relative;
  z-index: 99 !important;
}

.pincode-input-text:first-of-type {
  border-radius: 10px 0px 0px 10px;
}

.pincode-input-text:last-of-type {
  border-radius: 0px 10px 10px 0px;
}
